$accent: #feefe2;
$user: #fcd7b6;
$link: #436372;
$default-color: #262626;

%rubik-500{
  font-family: 'Rubik-Medium';
  font-weight: 500;
}
%rubik-400{
  font-family: 'Rubik-Regular';
  font-weight: 400;
}
%dmsans-400{
  font-family: 'DMSans_36pt-Regular';
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans_36pt-Medium';
  font-weight: 500;
}
%dmsans-700{
  font-family: 'DMSans_36pt-Bold';
  font-weight: 700;
}



